@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');

:root 
{   
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    --main-background-color: #2D2D2D;
    --highlight-color: #00D5E4;
}   

*, *:before, *:after {
    box-sizing: inherit;
}

body
{   
    background-color: var(--main-background-color);
}

header
{
    padding-top: 10px
}

section
{
    padding: 16px 20px 32px;
}

h1
{
    font-size: 3rem;
    font-weight: 900;
    max-width: 600px;
}

p
{

    font-weight: 400;
    font-size: 1.6rem;
}

b 
{
    font-weight: 900;
    color: var(--highlight-color);
}

.logo
{
    width: 73px;
    height: 43px;
}

.wrapper { 
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

.staticsics-cart
{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    max-width: 356px;
}

.staticsics-cart-text
{
    margin-left: 20px;
}

.nav-panel
{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid  #575555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1455px;
}

.menu-nav
{
    width: 45px;
    height: 45px;
}

