@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;900&display=swap');

:root 
{   
    font-size: 62.5%;
    font-family: 'Rubik', sans-serif;
    color: #FFFFFF;
    --main-background-color: #2D2D2D;
    --highlight-color: #00D5E4;
}   

*, *:before, *:after {
    box-sizing: inherit;
}

body
{   
    background-color: var(--main-background-color);
}

header
{
    padding-top: 10px
}

section
{

    padding: 16px 20px 32px;
}

h1
{
    font-size: 3rem;
    font-weight: 900;
    max-width: 600px;
}

p
{

    font-weight: 400;
    font-size: 1.6rem;
}

b 
{
    font-weight: 900;
    color: var(--highlight-color);
}

.logo
{
    width: 73px;
    height: 43px;
}

.wrapper { 
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
}

.greating
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.some-text{
    max-width: 645px;
}

.staticsics-cart
{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    max-width: 356px;
}

.staticsics-cart-img
{
    width: 115px;
    height: 115px;
}
.staticsics-cart-text
{
    margin-left: 20px;
}

.nav-panel
{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1455px;
    margin-left: auto;
    margin-right: auto;
}

.menu-nav
{
    width: 45px;
    height: 45px;
}

a
{
    font-size: 1.6rem;
    color: #fff;
    text-decoration: none;
}

.descktop-menu-nav
{
    display: none;
    justify-content: space-evenly;
    min-width: 300px;
}

/* .nav-wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} */

.desktop-img{
    display: none;
}

.horizontal-line
{
    border: none;
    background-color:  #575555;
    height: 2px;
}
.desktop-statistics
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 1000px){
    
    .descktop-menu-nav{
        display: flex;
    }
    .menu-nav{
        display: none;
    }
    .desktop-img{
        display: inline;
        width: 410px;
        height: 440px;
    }
    .mobile-img{
        display: none;
    }
}